*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;

}
.main_box{
     background-image:url("photo.jpg");
     height:100vh; 
     background-size:cover;
}
.btn_one i{
    color: white;
    font-size:30px;
    font-weight:700;
    position:relative;
    left:16px;
    line-height:60px;
    cursor:pointer;
    transition:all 0.3s linear;
}
.sidebar_menu{
    position:fixed;
     left:-350px;      
    height:100vh;
    width:300px;
    background-color:rgba(255,255,255,0.1);
    box-shadow:0 0 6px rgba(255,255,255,0.5);
    transition:all 0.3s linear;
}
.sidebar_menu .logo{
position:absolute;
width:100%;
line-height:60px;
box-shadow:0 2px 4px  rgba(17, 126, 115, 0.5);
top:20px;
height:60px;

}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    color:rgb(7, 130, 120);
    text-decoration:none;
    font-size:30px;
    font-weight:800px;
    bottom:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.sidebar_menu .btn_two{
    color:white;
    opacity:0;
    font-size:25px;
    position:absolute;
    left:275px;
    cursor:pointer;
}
.sidebar_menu .menu{
  position:absolute;
  width:100%;
  top:80px;
}
.sidebar_menu .menu li{
    margin-top:15px;
    padding:10px 20px; 
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration:none;
    font-size:20px;
}
.sidebar_menu .menu i{
    padding-right:8px;
}
.sidebar_menu .social_media{
    color:white;
    opacity:0.5;
    position:absolute;
    left:25%;
    bottom:100px;
}
.sidebar_menu .social_media i{
    color:white;
    opacity:0.5;
    padding:1px;
}
#check{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow:0 0 4px  rgba(255,255,255,0.5);
}
.btn_one i:hover{
    font-size:35px;
}
.btn_two i:hover{
     font-size:30px;
}   
.sidebar_menu .social_media i:hover{
    opacity:1;
    transform:scale(1.5);
} 
#check:checked~.sidebar_menu{
    left:0 ;
}
#check:checked~.btn_one i{
    opacity:0;
}
#check:checked~.sidebar_menu .btn_two{
    opacity:1;
}
h1{
    text-align:center;
    border-radius:20px;
    background-color:blue;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    height:80px;
    width:100vh;
}